// Цвет текста по-умолчанию
$deftextcolor: #000000;

// Цвет бургера
$burger: #1e26cc;

// Цвет мобильного меню
$bmenubgr: #2ba9c0;

// Цвета многоуровневого меню
$mlmenutext: rgb(99, 0, 142);
$mlmenubgr: yellow;
$mlmenuborder: red;

// Цвета свечения
$ghost: rgb(0, 157, 255);
$neon: #ff00de;
$lux: #0698a5;