// Цвет текста по-умолчанию
$deftextcolor: #111111;

// Цвет фона
$wrpbg: #F4F5FC;

// Цвет фона сайда и кнопки
$violet: #5A61ED;

// Цвет подчеркивания
$emphasizing: #F2F2F2;

// Цвет названий формы
$formtitles: #7C7C7C;

// Цвет плейсхолдера
$placeholder: rgba(124,124,124,0.35);

// Цвет тени
$boxshadow: rgba(0, 0, 0, 0.075);

// Белый цвет
$white: #FFFFFF;

// Цвет фонового рисунка
$bgimagecolor: #F9FAFF;

// Цвет ошибки
$errorcolor: #FF2222;