// Размеры текста по-умолчанию
$deftextsize: 14px;
$defmobtextsize: 10px;

// Размеры полотна макета
$layoutwidth: 1536px;
$layoutminwidth: 320px;

// Ширина ограничивающего контейнера (0 = нет ограничения)
$container: 1180px;

// Включить адаптив без брейк-поинтов:
// true = да,
// false = нет
$responsiveType: true;

// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;