@use "../exports/functions" as f;
@use "../exports/mixins" as mix;
@use "../exports/vars" as vars;
@use "sass:meta";

/* General styles of forms */

@include meta.load-css("../components/choices");

fieldset {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&:not(.usergender) {
		> label {
			padding-bottom: f.rem(3px);
			border-bottom: 1px solid vars.$emphasizing;
		}
	}

	[class$="__title"] {
		width: calc(100%);
		min-width: 25%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		&:not([class$="__title--reset"]) {
			color: vars.$formtitles;
			font-family: WorkSans, "Arial", sans-serif;
			font-weight: 300;
			@include mix.adaptivfont(12px, 7px);
		}
	}
}

label {
	@include mix.colflex();
	flex: 0 1 47%;

	&.error {
		border-bottom: 1px solid vars.$errorcolor !important;

		> span + input {
			color: vars.$errorcolor !important;
		}
	}
}

input {
	font-family: WorkSans, "Arial", sans-serif;
	@include mix.adaptivfont(14px, 9px);
	font-weight: 400;
	line-height: 1.5;
	background-color: transparent;
	color: vars.$deftextcolor;
	padding: f.rem(3px) 0 f.rem(1px);

	&[type="text"],
	&[type="email"] {
		padding-right: f.rem(15px);
		text-overflow: ellipsis;
	}
}

select {
	appearance: none;
}

::placeholder {
	color: vars.$placeholder;
}

@include meta.load-css("feedback");
@include meta.load-css("birth");
@include meta.load-css("usergender");
@include meta.load-css("justvalidate");
@include meta.load-css("logo");
