@use "../exports/functions" as f;
@use "../exports/mixins" as mix;
@use "../exports/vars" as vars;

/* Additional Validation styles */

[type="email"].just-validate-success-field {
	background: url("../../images/checkmark.svg") 100% center no-repeat;
	background-size: f.em(11px, 12px) f.em(7px, 12px);
	transition: background-image 0.3s;
}

[data-tooltip="true"].just-validate-error-label {
	background: vars.$errorcolor !important;

	&::before,
	&::after {
		border-bottom: solid 1px vars.$errorcolor !important;
	}
}